.site-nav.work {
  display: flex;
  list-style: none;
}

.list-wwd + .list-wwd {
  margin-left: 30px;
}

.it-wwd {
  display: block;
  max-height: 100%;
  height: auto;
}

.section-wwd {
  padding-top: 0px;
}
