
.logo {
  text-decoration: none
  padding-top: 24px;
  padding-bottom: 25px;
}

.link {
  text-decoration: none
  padding-top: 32px;
  padding-bottom: 32px;
}

.contactsfot.map {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-backgroud-color);
  font-style: normal;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address.footer {
  margin-top: 20px;
}

.contactsfot {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  &:hover,
  &:focus {
  color: var(--accent-text-color);
}
}

.contactsfot.mail,
.contactsfot.tel {
  display: block;
  margin-top: 9px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-footer {
  background-color: var(--head-background-color);
}

.logo-footer {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.footer-color {
  background-color: var(--head-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.info-footer {
  list-style: none;
  margin-top: 20px;
}

.address.footer {
  text-decoration: none;
}

.masters-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
  margin-right: 0;
}
}

.master-soc-link-footer {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: #2196f3;
}
}

.master-soc-link-footer:hover .masters-soc-icon,
.master-soc-link-footer:focus .masters-soc-icon {
  fill: #ffffff;
}

.masters-soc-icon-footer {
  fill: #ffffff;
}

.footer-join {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.masters-soc-item-footer {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-left {
  margin-right: 70px;
}

.footer-join {
  display: flex;
  margin-bottom: 20px;
}

.master-soc-list-footer.list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.footer-mail {
  margin-left: auto;
}

.footer-mail-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
}

.footer-btn-join {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.icon-send {
  fill: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
