img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.page {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  letter-spacing: 0.3em;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid red; */
}
