.logo {
  margin-right: 93px;
}

.container.hat {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav-index {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.contacto .link.current {
  color: var(--accent-text-color);
}

.link.current:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  left: 0;
  bottom: 0;
}

.logo-accent {
  color: var(--accent-text-color);
}

.contacto,
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  list-style: none;
}

.headder-contact {
  display: flex;
  list-style: none;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.advantages {
  color: var(--secondary-text-color);
}

.link {
  position: relative;
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.contacts-icon {
  fill: #757575;
  margin-right: 10px;
}

.contacts {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.contacts:hover .contacts-icon,
.contacts:focus .contacts-icon {
  fill: #2196f3;
}

.headder-contact-list:nth-last-child(2) {
  margin-right: 30px;
}
