.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--accent-text-color);
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
}

.container.hat {
  @extend %align-list;
}

.container.hat,
.container.hat-portfolio {
  @extend %align-list;
}

.nav-potfolio,
.nav-index {
  @extend %align-list;
}

.contacto {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
    align-items: baseline;
  }
}

.contacto .link.current {
  color: var(--accent-text-color);
}

.link.current:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  left: 0;
  bottom: 0;
}

.contacto,
.logo {
  @extend %align-list;
  margin-bottom: 0px;
  list-style: none;
}

.headder-contact {
  @include mobile {
    display: none;
    list-style: none;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }
  @include tablet {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}

.text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.site-nav {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.link {
  display: flex;
  position: relative;
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.contacts-icon {
  fill: #757575;
  margin-right: 10px;
}

.contacts {
  @extend %align-list;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    margin-bottom: 10px;
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.contacts:hover .contacts-icon,
.contacts:focus .contacts-icon {
  fill: #2196f3;
}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

.headder-contact-list:nth-last-child(2) {
  margin-right: 30px;
}

// Mobile menu

.menu-open-btn,
.menu-close-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.menu-close-btn {
  margin-bottom: 8px;
}

.mobile-menu {
  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    padding-top: 21px;
    padding-bottom: 48px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.mobile-menu-contacto {
  list-style: none;
}

.mobile-menu-contacto .mobile-menu-item.current {
  color: #2196f3;
}

.mobile-menu-link:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.curent .mobile-menu-item {
  color: var(--accent-text-color);
}

.mob-connect-headder-contact {
  list-style: none;
}

.mob-connect-headder-contact-list:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect-email {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-connect-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-soc-list {
  list-style: none;
  margin-top: 64px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.mob-soc-link:not(:first-child):before {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
}

.mob-soc-item {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
