.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  border-radius: 4px;
  transition: transform 250ms;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-svg,
.modal-close-btn:focus .modal-close-svg {
  fill: #2196f3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-title {
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-text {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.modal-text:focus {
  border-color: #2196f3;
  outline: none;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  border: none;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: 1px solid #212121;
  margin-right: 8px;
}

/* .modal-field {
  margin-bottom: 10px;
} */

.modal-check {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text::before {
  background-color: #2196f3;
  background-image: url(../img/icon/check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-check:focus + .check-text::before {
  background-color: #2196f3;
  background-image: url(../img/icon/check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.privacy-label {
  color: #2196f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 3px;
  text-decoration: underline;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  @extend %align-list;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
}
