.section-gallery {
  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.imageteam {
  @include retina {
  }
}

.potfolioh3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.textportfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.site-nav.list-images.flex-start-aligned {
  width: 370px;
  height: 404px;
}

.site-nav.list-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-portfolio {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-portfolio:hover,
.card-portfolio:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.list-portfolio-img {
  @media screen and (min-width: 320px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.list-portfolio-img:hover .portfolio-top-text,
.list-portfolio-img:focus .portfolio-top-text {
  transform: translateY(0%);
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
